:root {
    --dark: #000000;
    --light: #ffffff;
    --bg: #f2f2f2;
    --seconddary: #919191;
    --litle: #ffd700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--dark);
    overflow-x: hidden;
}

/* Navbar start */
.background {
    height: 100%;
    width: 100%;
    background-image: url('/img/Group 70.png');
    background-size: cover;
    height: 90vh;
    width: 100%;
    padding-bottom: 185px;
    padding-left: 10%;
    padding-right: 3%;
}

.hero-contact h1 {
    display: flex;
    color: var(--light);
    padding-top: 9%;
    margin-left: -6vh;
    font-size: 49px;
    font-weight: 900;
}

.navbar {
    display: flex;
    color: white;
    z-index: 1000; /* Pastikan ini lebih tinggi dari background */
}

.navbar-toggler {
    border: none; /* Menghapus border default */
    background-color: rgba(255, 255, 255, 0.5); /* Latar belakang setengah transparan */
    margin-top: 55px; /* Sesuaikan dengan jarak elemen lain */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar .navbar-brand {
    font-size: 1.9rem;
    font-weight: 700;
    color: white;
    padding-right: 46.5%;
    margin-top: -5px;
    margin-left: -7vh;
}

.navbar .navbar-nav a {
    color: var(--light);
    display: inline-block;
    font-size: 1rem;
    margin: 0 .4rem;
    margin-top: 0px;
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.1rem;
    border-bottom: 0.2rem solid var(--light);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.7);
}

.navbar .nav {
    font-size: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.7rem 8%;
    position: absolute;
    top: 2000px;
    left: 0;
    right: 0;
    z-index: 9999;
    transition: background-color .5s ease;
    color: white;
}
/* navbar end */




/* tasty food start */
.container-fluid {
    padding-top: 5%;
}

.container-fluid h2 {
    padding-top: 13%;
    padding-bottom: 3%;
    font-weight: 400;
}

.bold {
    font-size: 15px;
    max-width: 543.5px;
}

.normal {
    font-size: 15px;
    max-width: 87.1vh;
}

.container-fluid img {
    margin-left: -5%;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    object-fit: cover;
}

.jarak:nth-child(3) img {
    margin-left: -20px;
    /* Atur jarak kiri gambar kedua */
}

/* tasty food end */



/* visi start */
.container-visi {
    padding-top: 20%;
    padding-left: 5%;
    padding-right: 5%;
}

.container-visi img {
    width: 100%;
    height: 66%;
    border-radius: 5%;
    margin-right: 10px;
    /* Atur jarak antar gambar */
    object-fit: cover;
}

.image:nth-child(2) img {
    margin-left: -10px;
    /* Atur jarak kiri gambar kedua */
}

.container-visi h2 {
    font-size: 20px;
    padding-top: 5%;
    padding-left: 5px;
}

.container-visi p {
    font-size: 15px;
    max-width: 530px;
    padding-left: 5px;
}

/* visi end */





/* misi start */
.container-misi {
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: -20%;
}


.container-misi h2 {
    font-size: 20px;
    margin-top: 7%;
}

.container-misi p {
    font-size: 15px;
    max-width: 500px;
}

.container-misi img {
    width: 100%;
    height: 37%;
    border-radius: 5%;
    margin-right: 10px;
    /* Atur jarak antar gambar */
    object-fit: cover;
}

/* misi end */




/* footer start */
.footer {
    background-color: var(--dark);
    color: var(--light);
    padding-top: 5%;
}

.container-footer {
    display: flex;
    padding: 1rem 6%;
    justify-content: space-between;
}

.text-footer {
    max-width: 56.6vh;
}

.text-footer p {
    padding: 15px 0;
    font-size: 1rem;
    color: rgb(145, 145, 145);
}

.text-footer .sosmed-link a img {
    height: 45px;
    width: 45px;
    margin: 30px 2px;
}

.link-footer,
.privacy-footer,
.contact-footer {
    padding-left: 4rem;
}

.link-footer h3,
.privacy-footer h3,
.contact-footer h3 {
    padding-bottom: 10px;
}

.link-footer a,
.privacy-footer a,
.contact-footer a {
    text-decoration: none;
    display: block;
    padding: 10px 0;
    color: var(--light);
}

.contact-footer img {
    height: 40px;
    width: 40px;
}

.img-email,
.img-telp,
.img-addres {
    display: flex;
}

.copyright-footer {
    text-align: center;
    padding: 5px;
}

.copyright-footer a {
    color: var(--seconddary);
    font-size: 0.8rem;
    text-decoration: none;
}

/* footer end */